<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"> {{ brand_logo }} </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% for link, name in nav_list %}
            <li><a href="{{ link }}"> {{ name }}</a></li>
            {% endfor %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'userena_signout' %}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </a>
                </li>
            {% else %}
                <li> <a href="{% url 'userena_signin' %}">Login</a> </li>
                <li> <a href="{% url 'userena_signup' %}">Sign up</a> </li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
